{% extends 'main/base.html' %}

{% block title %}
   <title>Registration Successful!</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-primary">
                <div class="card-header bg-primary text-white text-center">Registration Successful!</div>

                <div class="card-body">
                    <p class="text-center">Your registration was successful. You can now log in using your credentials.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
