{% extends 'main/base.html' %}

{% block title %}
   <title>Вы уверены, что хотите удалить клиента?</title>
{% endblock %}

{% block content %}
<body>
    <div class="container">
        <h1>Вы уверены, что хотите удалить клиента?</h1>
        <div class="actions">
            <form method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="delete-btn">Удалить</button>
            </form>
            <a href="{% url 'main:client_detail' object.id %}" class="cancel-btn">Отмена</a>
        </div>
    </div>
</body>
{% endblock %}